<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-4 text-left hidden-mobile">
            <img src="assets/img/sports/logo2.png" width="270px" alt="Área de Clientes GLPI">           
        </div>
        <div class="col-xs-6 col-sm-4 text-center hidden-mobile">
            <div class="row">
                <div class="txt-color-white">
                    Política de Privacidade	| Termos de Uso
                </div>
                <div class="txt-color-white hidden-xs">
                    <!-- <i class="txt-color-blueLight ">Last account activity <i class="fa fa-clock-o"></i>
                        <strong>52 mins ago &nbsp;</strong> </i> -->
                    
                    <br/><br/><br/>
                    <span class="txt-color-white">© Copyright 2020. Todos os direitos reservados.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-right">
            <span class="txt-color-white">
                Av. Brigadeiro Faria Lima, 1485 | 11º andar <br/>
                CEP 01452-002 São Paulo - SP <br/>
                Tel +55 11 2149-4500<br/>
                <img src="assets/img/GLPI/facebookGLWhite.png" width="25px" alt="Área de Clientes GLPI">&nbsp;&nbsp;&nbsp;<img src="assets/img/GLPI/linkedin-iconWhite.png" width="26px" alt="Área de Clientes GLPI">
            </span>
        </div>     
    </div>
</div>
